@{
    ViewData["Title"] = "Join"; 
}

 
<div class="page-single">
    <div class="modal-block modal-visible">
        <div class="modal-brand">
            <div class="modal-brand-caption">
                @await Html.PartialAsync("_LogoIcon", 100) 
                @await Html.PartialAsync("_LogoText", 150)            
            </div>
        </div>
        <div class="modal-block-content">
            <h3>Welcome back!</h3>
            <form class="form-horizontal" action="/users/login" method="POST">
                <div class="form-group">
                    <label for="email">Username or Email </label>
                    <input type="text" name="username" id="email" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" />
                </div>
                <div class="form-group">
                    <p class="help-block"><a href="#" class="link-underline">Forgot your password?</a></p>
                    <p class="help-block2 mb-25">Need an account? Register <a href="/users/register" class="clr-primary link-underline">here</a>.</p>
                    <button type="submit" class="btn btn-block btn-radius btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>